<VirtualHost *:80>
	ServerAdmin webmaster@localhost
	DocumentRoot {{ document_root }}
	SetEnv APP_ENV dev
	SetEnv APP_DEBUG true

	<Directory {{ document_root }}>
		AllowOverride All
		Require all granted
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
